.split-pane *.split-pane-divider {
    -fx-padding: 0;
}

/* button base styles*/
.button{
    -fx-padding: 0.7em 1.7em;
    -fx-border-radius: 10;
    -fx-text-fill: rgb(255,255,255);
}

/* primary colors */
.primary{
    -fx-background-color: rgb(0, 153, 203);
}
.primary:pressed {
    -fx-background-color: rgb(0, 192, 255);
}
.primary:hover {
    -fx-background-color: rgb(0, 157, 220);
}

/* secondary colors */
.secondary{
    -fx-background-color: rgb(43, 65, 98);
}
.secondary:pressed {
    -fx-background-color: rgb(83, 125, 189);
}
.secondary:hover {
    -fx-background-color: rgb(58, 87, 131);
}

/* warning colors */
.warning{
    -fx-background-color: rgb(255, 193, 7);
}
.warning:pressed {
    -fx-background-color: rgb(255, 214, 89);
}
.warning:hover {
    -fx-background-color: rgb(224, 187, 74);
}


/* danger colors */
.danger{
    -fx-background-color: rgb(221, 115, 115);
}
.danger:pressed {
    -fx-background-color: rgb(214, 79, 79);
}
.danger:hover {
    -fx-background-color: rgb(219, 50, 50);
}
