/* button base styles*/
.button{
    -fx-padding: 0.7em 1.7em;
    -fx-border-radius: 10;
    -fx-text-fill: rgb(255,255,255);
}

/* primary colors */
.primary{
    -fx-background-color: rgb(0, 153, 203);
}
.primary:pressed {
    -fx-background-color: rgb(0, 192, 255);
}
.primary:hover {
    -fx-background-color: rgb(0, 157, 220);
}

/* secondary colors */
.secondary{
    -fx-background-color: rgb(43, 65, 98);
}
.secondary:pressed {
    -fx-background-color: rgb(83, 125, 189);
}
.secondary:hover {
    -fx-background-color: rgb(58, 87, 131);
}
/*
DD7373
83B692
D7B377
https://coolors.co/dd7373-2b4162-0099cb-83b692-d7b377
*/